
.up-next-movie-bar {
  border: 3px solid yellow;
  border-radius: 5px;
  padding: 10px;
  width: 30rem;
  height: 38rem;
  position: absolute;
  right: 5rem;
  top: 60%;
  transform: translateY(-50%);

  
  
}
.up-next-movie-bar h3 {
  color: yellow;
  font-size: bold;
}


.up-next-movie-list {
  list-style: none;
  margin: 0;
  padding: auto;
}

.up-next-movie-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.up-next-movie-list li img {
  width: 110px;
  margin-right: 10px;
  margin-left: 1rem;
}

.up-next-movie-list li h4 {
  margin: 0;
  color: white;
  text-align: right;
}
.up-next-movie-list li p {
  margin: 0;
  font-size: 12px;
  color: white;
}